# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=c3e63df5-1daf-4905-81d2-e7eb644ddeeb

    # Set to true to disable all reporting
    B:opt-out=false
}


